[submodule "external/pybind11_protobuf"]
	path = external/pybind11_protobuf
	url = https://github.com/srmainwaring/pybind11_protobuf.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
